/vendor/
/node_modules/
composer.lock
/docs 
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep

/storage/framework/routes.php

/storage/uploads/*
!/storage/uploads/.gitkeep

*.log
.env
.env.*

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

phpunit.xml
